body,
body * {
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
}

img {
  border: 0;
}

button,
div,
img,
svg,
video {
  position: absolute;
}

#main_container {
  position: absolute;
  background-color: #000064;
  border: 1px solid #000000;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 300px;
  height: 250px;
}

#main_content {
  position: absolute;
  top: -1px;
  left: -1px;
  width: 300px;
  height: 250px;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

#default_exit {
  top: -1px;
  left: -1px;
  width: 300px;
  height: 250px;
  z-index: 500;
  cursor: pointer;
}

:focus {
  outline: 0;
}

::-moz-focus-inner {
  border: 0;
}

/* Custom Styling */

/* Fonts */
@font-face {
  font-family: "KlarheitGroteskBook";
  src: url("fonts/ESKlarheitGrotesk-Bk.woff");
}

@font-face {
  font-family: "KlarheitGroteskSemiBold";
  src: url("fonts/ESKlarheitGrotesk-Smbd.woff");
}

@font-face {
  font-family: "KlarheitGroteskExtraBold";
  src: url("fonts/ESKlarheitGrotesk-Xbd.woff");
}

/* Text */
.full-width {
  width: 300px;
  height: 250px;
}
div,
img {
  position: absolute;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

#endframe {
  top: 241px;
  left: 0px;
  width: 300px;
  height: 250px;
  background-color: #ffffff;
}

.extrabold {
  font-family: "KlarheitGroteskExtraBold";
}

.semibold {
  font-family: "KlarheitGroteskSemiBold";
}

#endframe_headline {
  top: 30px;
  left: 15px;
  width: 289px;
  font-size: 26.4px;
  line-height: 26.8px;
  font-family: "KlarheitGroteskExtraBold", sans-serif;
  color: #0000aa;
  letter-spacing: -0.3px;
}

#endframe_headline span {
  color: #ff6433;
}

#card {
  top: 98px;
  left: 139px;
  min-width: 147px;
  min-height: 117px;
  background: url(./images/card.png) left top no-repeat;
  background-size: contain;
  position: absolute;
}

#shine {
  width: 300px;
  height: 250px;
  background-image: url(./images/shine.png);
  background-size: contain;
  background-position: 150px 0px;
  position: absolute;
  mix-blend-mode: soft-light;
  -webkit-mask-image: url(./images/mask.png);
  -webkit-mask-size: 300px 250px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-image: url(./images/mask.png);
}

#orange-bar {
  width: 300px;
  height: 10px;
  background-color: #ff6433;
}

#terms {
  top: 191px;
  left: 234px;
  font-size: 8.5px;
  color: #0000aa;
  font-family: "KlarheitGroteskSemiBold";
}

#cta {
  text-align: center;
  transform-origin: center;
  border-radius: 6px;
  top: 100px;
  left: 16px;
  background: #ff6433;
  color: #fff;
  font-family: "KlarheitGroteskSemiBold", sans-serif;
  font-size: 12.2px;
  width: 98px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo,
#logoBlue {
  left: 20px;
  top: 195px;
  width: 95px;
}
#logoBlue{
  left: 16px;
  top: 198px;
  width: 96px;
}
.legal {
  width: 300px;
  font-size: 6px;
  font-family: "KlarheitGroteskSemiBold", sans-serif;
  left: 153px;
  bottom: 14.5px;
  color: #0000aa;
}
.copy {
  font-family: "KlarheitGroteskExtraBold";
  color: #fff;
}
#copy01 {
  font-size: 22px;
  left: 19px;
  top: 16.5px;
  letter-spacing: -0.1px;
}
#copy01 .line {
  background-color: #fff;
  position: absolute;
  top: 13.5px;
  left: 50.5px;
  width: 78px;
  height: 2.5px;
  display: inline-block;
}
#copy02 {
  font-size: 22px;
  left: 19px;
  top: 39.5px;
  letter-spacing: 0.1px;
}
#copy02 sup {
  font-size: 13px;
  top: 2px;
  right: -5px;
  position: absolute;
  font-family: "KlarheitGroteskBook";
}
#copy02 .stop {
  position: absolute;
  right: -9.2px;
  bottom: -0.2px;
}
#copy03 {
  font-family: "KlarheitGroteskExtraBold";
  font-size: 67.5px;
  left: 19.3px;
  top: 30.6px;
  letter-spacing: -0.8px;
}
#copy04 {
  font-size: 22px;
  left: 19px;
  top: 16.5px;
  letter-spacing: -0.1px;
}
#copy05 {
  font-size: 67.2px;
  letter-spacing: -0.3px;
  top: 30.8px;
  left: 50.3px;
  font-family: "KlarheitGroteskExtraBold";
}
#copy05 .dollar {
  font-size: 41.5px;
  position: absolute;
  left: -31.1px;
  top: 12.4px;
}
#copy06 {
  font-size: 22px;
    left: 19px;
    top: 104.5px;
}
.first-card {
  width: 135.5px;
  top: 140.5px;
  left: 153.2px;
}
